server:
  port: 9001

logging:
  level:
    root: debug

spring:
  application:
    name: user
  datasource:
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3307/jiayuan_user?useUnicode=yes&characterEncoding=UTF-8&serverTimezone=GMT%2B8
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

mybatis:
  type-aliases-package: io.github.jast90.*.entity,io.github.jast90.*.vo
  type-handlers-package: io.github.jast90.*.typehandler
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 100
    default-statement-timeout: 30

